:root {
  --bg-color: #1a1a1a;
  --panel-color: #292b3d;
  --text-color: #ffffff;
  --button-bg: #444;
  --button-text: #ffffff;
  --button-hover-bg: #666;
  --progress-fill-color: #00cc66;
}

.theme-lightforest,
.light-mode {
  --bg-color: #9ca59d;
  --panel-color: #e9f1ec;
  --text-color: #1b2a1a;
  --button-bg: #558c75;
  --button-text: #ffffff;
  --button-hover-bg: #446d60;
  --progress-fill-color: #558c75;
}

.theme-darkviolet,
.dark-mode {
  --bg-color: #000000;
  --panel-color: #292b3d;
  --text-color: #f0f0f0;
  --button-bg: #7c5fe9;
  --button-text: #ffffff;
  --button-hover-bg: #9b84ff;
  --progress-fill-color: #7c5fe9;
}

.theme-blue {
  --bg-color: #001428;
  --panel-color: #002244;
  --text-color: #ffffff;
  --button-bg: #0055aa;
  --button-text: #ffffff;
  --button-hover-bg: #003377;
  --progress-fill-color: #0055aa;
}

.theme-blue-sky {
  --bg-color: #b8c1cc;
  --panel-color: #cde6ff;
  --text-color: #002244;
  --button-bg: #99c9f2;
  --button-text: #002244;
  --button-hover-bg: #b5d8ff;
  --progress-fill-color: #99c9f2;
}

.theme-echoes-beyond {
  --bg-color: #101a31;
  --panel-color: #1b263b;
  --text-color: #fca311;
  --button-bg: #334863;
  --button-text: #fca311;
  --button-hover-bg: #1f3352;
  --progress-fill-color: #334863;
}

.theme-love-notes-lipstick {
  --bg-color: #311847;
  --panel-color: #3f206b;
  --text-color: #ff6bd6;
  --button-bg: #ff6bd6;
  --button-text: #311847;
  --button-hover-bg: #c44fb0;
  --progress-fill-color: #ff6bd6;
}

.theme-rainbow {
  --bg-color: #cccccc;
  --panel-color: #ffffff;
  --text-color: #000000;
  --button-bg: rgba(255, 255, 255, 0.9);
  --button-text: #000000;
  --button-hover-bg: rgba(255, 255, 255, 0.7);
  --progress-fill-color: #603636;
}
